/*
  __  __           _        ____
 |  \/  |         | |      |  _ \
 | \  / | __ _  __| | ___  | |_) |_   _
 | |\/| |/ _` |/ _` |/ _ \ |  _ <| | | |
 | |  | | (_| | (_| |  __/ | |_) | |_| |
 |_|  |_|\__,_|\__,_|\___| |____/ \__, |
                                   __/ |
 __          __       _           |___/__                 _
 \ \        / /      | |            |  _ \               | |
  \ \  /\  / /__  ___| | ___ _   _  | |_) |_ __ ___ _   _| | _____ _ __ ___
   \ \/  \/ / _ \/ __| |/ _ \ | | | |  _ <| '__/ _ \ | | | |/ / _ \ '__/ __|
    \  /\  /  __/\__ \ |  __/ |_| | | |_) | | |  __/ |_| |   <  __/ |  \__ \
     \/  \/ \___||___/_|\___|\__, | |____/|_|  \___|\__,_|_|\_\___|_|  |___/
                              __/ |
                             |___/
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

/*
        Generics
 */
html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    scroll-behavior: smooth;
    background: #181818;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Code Pro', sans-serif;
}

img {
    max-height: 100%;
    max-width: 100%;
}

a {
    color: #fff;
    text-decoration: none;
}

ul {
    list-style: none;
}

div.text-center {
    width: 100%;
    text-align: center;
}

div.center {
    width: 100%;
    display: flex;
    justify-content: center;
}

/*
        Row Logic
 */

div.row {
    display: flex;
    flex-wrap: wrap;
}

div.column-1 {
    width: 8.33333333%;
}

div.column-2 {
    width: 16.66666667%;
}

div.column-3 {
    width: 25%;
}

div.column-4 {
    width: 33.33333333%;
}

div.column-5 {
    width: 41.66666667%;
}

div.column-6 {
    width: 50%;
}

div.column-7 {
    width: 58.33333333%;
}

div.column-8 {
    width: 66.66666667%;
}

div.column-9 {
    width: 75%;
}

div.column-10 {
    width: 83.33333333%;
}


div.column-11 {
    width: 91.66666667%;
}

div.column-12 {
    width: 100%;
}

/*
        Scroll Bar
 */
html::-webkit-scrollbar {
    width: 0.25rem;
    background: transparent;
}

html::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

html::-webkit-scrollbar-thumb {
    background-color: #ad0000;
    border-radius: 48px;
}

/*
        NavBar
 */
header {
    width: 100%;
    background: rgb(0, 0, 0);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav ul {
    display: flex;
}

nav ul li a {
    margin: 0.25rem 1rem;
    padding: 0.5rem 1rem;
    border-radius: 48px;
}

nav ul li a.active,
nav ul li a:hover {
    background: #5c1010;
}

nav img {
    height: 3.5rem;
}


/*
        Section Generics
 */

section {
    padding: 1rem 0 5rem 0;
}

section div.section-header h3 {
    font-size: x-large;
    margin: 1rem auto 0 auto;
}

section div.section-header hr {
    width: 2.5rem;
    height: 0.25rem;
    background: #fff;
    border: none;
    border-radius: 48px;
    margin: 0.5rem auto 2.5rem auto;
}

section.style-1 {
    background: #111111;
}

/*
        Intro
 */

section#home-section {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    background: url("../img/header/background.png") no-repeat center center;
    background-size: cover;
}

section#home-section .container {
    margin: 0 0 0 5%;
    font-size: large;
}

section#home-section .container h1 {
    font-size: xxx-large;
}

section#home-section .container h1:after {
    content: "";
    display: block;
    position: absolute;
    width: 36rem;
    height: 0.25rem;
    border-radius: 48px;
    background: rgb(255, 255, 255);
    margin: 0.33rem auto auto auto;
    max-width: 90%;
}

/*
        About Section
 */

section#about-section div.container {
    width: 90%;
    margin: auto 5% auto 5%;
}

ul.skillset-items {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

ul.skillset-items li {
    margin: 0 1rem 1rem 0;
    background: #6a6a6a;
    border-radius: 48px;
}

ul.skillset-items li p {
    padding: 0.4rem 2rem;
    margin: 0;
}

ul.skillset-items i {
    margin: 0;
    padding: 0 0.25rem 0 0;
}

/*
        Projects
 */

div.projects {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

div.project {
    margin: 1rem 0 1rem 0;
    width: 40%;
}

div.project-links {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 2rem 0 0 0;
}

a.project-link {
    background: #5c1010;
    padding: 0.5rem 1rem;
    margin: 0 0.75rem 0 0.75rem;
    border-radius: 48px;
}


a.project-link:hover {
    background: #711414;
}

a.project-link i {
    padding: 0 0.5rem 0 0;
}

/*
        Contact Form
 */
div.contact-form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 40%;
    text-align: center;
}

div.contact-form input {
    border-radius: 48px;
}

div.contact-form input,
div.contact-form textarea {
    margin: 0.75rem 0 0.75rem 0;
    border: none;
    resize: none;
}

div.contact-form input,
div.contact-form textarea {
    background: #181818;
    color: white;
    font-family: 'Roboto', sans-serif;
}

div.contact-form label,
div.contact-form input,
div.contact-form textarea {
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
    width: calc(100% - 1.5rem);
}

div.contact-form textarea {
    border-radius: 12px;
    height: 7.5rem;
}

#contact-section div.messages {
    display: none;
    width: 80%;
    margin: 0 10% 0 10%;
}
#contact-section div.messages div {
    border-radius: 48px;
}

#contact-section div.messages p {
    padding: 1rem;
}

#contact-section div.messages .error {
    background: red;
}
#contact-section div.messages .success {
    background: limegreen;
    color: black;
}

#send-button {
    width: 20%;
    font-weight: bold;
    background: #5c1010;
}

#send-button:hover {
    background: #711414;
}

/*
        Footer
 */
footer {
    width: 100%;
    background: #000;
    padding: 0.5rem 0;
    text-align: center;
}

footer div.socials {
    text-align: left;
}

footer div.socials i {
    padding: 0 0.25rem 0 0;
}

/*
        Media Queries
 */
@media only screen and (min-width: 993px) {
    .hamburger {
        display: none;
    }
}

@media only screen and (max-width: 992px) {
    div.project {
        width: 80%;
    }

    .empty-col {
        display: none;
    }

    div.contact-form {
        width: 90%;
    }

    div[class^="column-"] {
        width: 100vw;
    }

    header nav button.hamburger {
        display: block;
        position: absolute;
        z-index: 1001;
    }

    div.right {
        height: 3rem;
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    header.is-active {
        height: 100vh;
    }

    header nav ul.is-active {
        left: 0;
    }

    header nav ul.is-active li {
        height: 1rem;
        margin: 2.5rem 0 2.5rem 0;
    }

    header nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: 100%;
        width: 100vw;
        text-align: center;
        margin: 0;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: -200%;
        transition: left .8s cubic-bezier(0, 0, 0.02, 1.03);
        padding: 0;
    }
}

@media (pointer: none), (pointer: coarse) {
    nav ul li a:hover:not(.active) {
        background: none;
    }
}